.slider {
    background: linear-gradient(220deg,#FCE3EC 10%, #FEC8FF 100%);

}
.btn{
        background:rgb(255, 255, 255);;
        color:  rgb(235, 95, 133);
        box-shadow: none;
        text-shadow: none;
        font-weight: 600;
}
.btn:hover {
    background: rgb(235, 95, 133);
    color: rgb(255, 255, 255);
    box-shadow: none;
    text-shadow: none;
}
.btn:active {
    background:rgb(248, 112, 148);
    color: rgb(255, 255, 255);
    box-shadow: none;
    text-shadow: none;
}
row {
    color: transparent;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); 
}
row:selected {
    background-color: transparent;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5); 
}
row:hover.contact_row {
    color: rgb(230, 230, 230);
}
list grid {
    background-color: transparent;
    border-radius: 20px; 
}
list grid grid {
    background-color:rgb(255, 255, 255);
    border: rgb(75, 75, 75);
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
list grid grid label {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    color:rgb(0, 0, 0);
}
.entry{
    background-color:rgb(31, 45, 40); 
}
.list_message {
    background: linear-gradient(160deg,#FCE3EC 10%, #FEC8FF 100%);

}
.t {
    color: rgb(0, 0, 0);
}

.Change_Theme{
    background:rgb(255, 255, 255);;
    color:  rgb(235, 95, 133);
    box-shadow: none;
    text-shadow: none;
    font-weight: 600;
}
.Change_Theme:hover {
background: rgb(235, 95, 133);
color: rgb(255, 255, 255);
box-shadow: none;
text-shadow: none;
}
.Change_Theme:active {
background:rgb(248, 112, 148);
color: rgb(255, 255, 255);
box-shadow: none;
text-shadow: none;
}

.Change_password{
    background:rgb(255, 255, 255);;
    color:  rgb(235, 95, 133);
    box-shadow: none;
    text-shadow: none;
    font-weight: 600;
}
.Change_password:hover {
background: rgb(235, 95, 133);
color: rgb(255, 255, 255);
box-shadow: none;
text-shadow: none;
}
.Change_password:active {
background:rgb(248, 112, 148);
color: rgb(255, 255, 255);
box-shadow: none;
text-shadow: none;
}

.LoLo{
    color: rgb(255, 255, 255);

}
.search{
    background-color: rgb(255, 255, 255);

    
    color: rgb(75, 75, 75);
}
.enter{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.first {
    background: linear-gradient(rgb(240,225,216), rgb(165, 173, 178));
    transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); 
    border-radius: 55px; 
    box-shadow: none;
    border: 10px;
    background-color: transparent;
}
.second {
    background: linear-gradient(rgb(44,73,85),rgb(80, 124, 147));
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94); 
    border-radius: 30px;  
    box-shadow: none; 
    border: 10px;
    background-color: transparent;
}
.third {
    background: linear-gradient(rgb(255, 255, 255), rgb(235, 95, 133)); 
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5); 
    border: 10px;
    background-color: transparent;
}
.fourth {
    background:linear-gradient(rgb(184, 166, 220), rgb(239, 208, 166)); 
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94); 
    border-radius: 30px; 
    box-shadow: none;
    border: 10px;
    background-color: transparent;
}